button {
    display:flex;
    flex-direction: row;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    box-shadow: 8px 10px 18px rgba(0, 0, 0, 0.25),
        inset 1px 1px 1px rgba(255, 255, 255, 0.2);
    padding: 2px;
    font-weight: 600;
}

.content{
    padding: 8px 30px;
}

.low-padding{
    padding: 8px 20px;
}

.blue {
    background: linear-gradient(350deg, #4e4af2 7%, #30dbe6 150%);
}

.line {
    height: 30px;
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 0.5px solid #000000;
}

.second-line {
   
    height: 30px;
    mix-blend-mode: overlay;
    opacity: 0.3;
    border: 0.3px solid #ffffff;
}
