
$background-color: linear-gradient(328.39deg, #191E26 1.93%, #353F55 90.84%);

$button-blue: linear-gradient(350deg, #4e4af2 7%, #30dbe6 150%);

$button-red: linear-gradient(330.47deg, rgba(242, 74, 74, 0.68) 7.57%, #E63030 125.28%);

//Campo de Preenchimento
$field-fill: linear-gradient(328.4deg, #191E26 -1.45%, #353F55 171.69%);

//Campos de Identificação
$concluded: #32D399;

$open: #F3AE45;

$analysis: #3899F2;

//Fontes
$font-color-highlighted: #EAEAEA;

$font-color-main: #909AAD;

$font-color-secondary: #C3C8D0;

$font-color-interactive: #39B3EA;

$font-color-state: #222935;




