
$background-color: linear-gradient(328.39deg, #191E26 1.93%, #353F55 90.84%), #D8D8D8;

$button-blue: linear-gradient(330.47deg, #4E4AF2 7.57%, #30DBE6 125.28%), 
              linear-gradient(318.92deg, #6440FA -8.82%, #4323C8 100.13%, #AA1E16 100.13%), #D8D8D8;

$button-red: linear-gradient(330.47deg, rgba(242, 74, 74, 0.68) 7.57%, #E63030 125.28%),
             linear-gradient(318.92deg, #6440FA -8.82%, #4323C8 100.13%, #AA1E16 100.13%), #D8D8D8;

//Campo de Preenchimento
$field-fill: linear-gradient(328.4deg, #191E26 -1.45%, #353F55 171.69%), #D8D8D8;

//Campos de Identificação
$concluded: #32D399;

$open: #F3AE45;

$analysis: #3899F2;

//Fontes
$font-color-highlighted: #EAEAEA;

$font-color-main: #C3C8D0;

$font-color-secondary: #909AAD;

$font-color-interactive: #39B3EA;

$font-color-state: #222935;




