@import "../../../../assets/scss/variables.scss";

.alert {
    display: flex;
    justify-content: center;
    position: absolute;
    width:100%;
    top:10px;
    z-index: 999999;
}

.generic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 35px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    background: $background-card;
    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
    color: $font-color-highlighted;
    font-family: -webkit-pictograph;
    font-style: normal;
    letter-spacing: 1.5px;
    height: 100%;
    h1 {
        font-weight: normal;
        text-transform: capitalize;
        font-size: 1.2rem;
        margin: 0;
        margin-right: 0.5rem;
        height: 70%;
    }
}

.success {
    background: $success;
}

.info {
    background: $info;
}

.warning {
    background: $warning;
}

.error {
    background: $error;
}

.showing{
    animation: show 0.5s;
    animation-iteration-count: 1;
}

@keyframes show {
    
    0% {
        transform: translatey(-100px);
    }
    100% {
        transform: translatey(0);
    }
}

.hiding{
    animation: hide 0.5s;
    animation-iteration-count: 1;
}

@keyframes hide {
    
    0% {
        transform: translatey(0);
    }
    100% {
        transform: translatey(-100px);
    }
}