<div class="container">
    <div>
        <h3>DETALHES DO USUÁRIO</h3>
        <div class="user-info-container">
            <s2p-input class="first-name" [field]="profileFormFields[0]" [control]="getFormControl('firstName')"></s2p-input>
            <s2p-input class="second-name" [field]="profileFormFields[1]" [control]="getFormControl('secondName')"></s2p-input>
            <s2p-input class="email" [field]="profileFormFields[2]" [control]="getFormControl('email')"></s2p-input>
            <s2p-input class="phone" [field]="profileFormFields[3]" [control]="getFormControl('phone')"></s2p-input>
            <s2p-button [isLoading]="isLoading" color="update blue" (click)="update()">
                    Alterar dados</s2p-button>
            <s2p-button  color="cancel red" (click)="cancel()">
                Desativar Usuário</s2p-button>
        </div>
    </div>
    <div>
        <img src="../../../../assets/images/Killjoy.png" width= "350px" height="550px">
    </div>
</div>
