<div class="container">
    <div>
        <div class="header">
            <h3>DETALHES DO USUÁRIO</h3>
            <div (click)="logOut()">
                Sair
                <i class="fas fa-sign-out-alt"></i>
            </div>
        </div>
        <div class="user-info-container">
            <s2p-input class="name" [field]="profileFormFields[0]" [control]="getFormControl('name')"></s2p-input>
            <s2p-input class="email" [field]="profileFormFields[1]" [control]="getFormControl('email')"></s2p-input>
            <s2p-input class="phone" [field]="profileFormFields[2]" [control]="getFormControl('phone')"></s2p-input>
            <div class="birth-date-container">
                <s2p-input [field]="profileFormFields[3]" [control]="getFormControl('birthDay')"></s2p-input>
                <s2p-input [field]="profileFormFields[4]" [control]="getFormControl('birthMonth')"></s2p-input>
                <s2p-input [field]="profileFormFields[5]" [control]="getFormControl('birthYear')"></s2p-input>
            </div>
            <s2p-button [isLoading]="isLoading.update" color="update blue" (click)="update()">
                {{updateButtonText}}</s2p-button>
            <s2p-button  color="cancel red" (click)="cancel()">
                {{cancelButtonText}}</s2p-button>
        </div>
    </div>
    <div>
        <img src="../../../../assets/images/characters/Killjoy.png" width= "350px" height="550px">
    </div>
</div>

<s2p-modal id="modalPassword" (controller)="modalEvent($event)">
    <div class="passwordModal">
        <s2p-input [field]="profileFormFields[6]" [control]="passwordControl"></s2p-input>
        <s2p-button [isLoading]="isLoading.delete" color="red" (click)="removeUser()">Apagar usuário</s2p-button>
    </div>
   
</s2p-modal>
