@import "../../../assets/scss/variables.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

.logo {
  background-image: url("../../../assets/images/logo/logo.svg");
  background-repeat: no-repeat;
  width: 140px;
  height: 55px;
  cursor: pointer;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);

  h2 {
    font-size: 1.1rem;
    text-align: right;
    color: $font-color-secondary;

    i {
      margin-right: 0.5rem;
    }
  }

  .profile {
    cursor: pointer;
  }
}

#body-wrapper {
  margin-top: 2.5rem;
  height: calc(100vh - 55px - 6.5rem);
}
