<div>
    <s2p-alert type="success">Erro de Servidor</s2p-alert>

    <app-button
        [isLoading]="loading"
        color="blue"
        (icone)="clickIcone($event)"
        (text)="clickText($event)"
        posfix="fas fa-arrow-right"
    >
        Alterar dados</app-button
    >

    <s2p-modal id="Teste" (controller)="modalInstance($event)"></s2p-modal>

    <app-cards
        type="portrait"
        [imgPaths]="arrayCards"
        (iconeStart)="clickPlay($event)"
        play="fas fa-play"
    ></app-cards>
</div>
