<div
    style="
        height: 500px;
        background: linear-gradient(328.39deg, #191e26 1.93%, #353f55 90.84%),
            #d8d8d8; ;
    "
>
    <app-button
        [isLoading]="true"
        imgPath="../../../../assets/images/cards/btt.jpeg"
        type="blue"
    >
        Alterar dados
    </app-button>
    <app-button [isLoading]="true" type="landscape" type="portrait" color="red">
        Alterar dados
    </app-button>

    <app-cards type="portrait" [imgPaths]="arrayCards"></app-cards>
</div>
