/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/font.scss";

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(328.39deg, #191e26 1.93%, #353f55 90.84%), #d8d8d8;
  background-repeat: no-repeat;
  min-height: 100vh;
}
